       <div id="aviso">
           <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Al presionar el botón de "Aceptar" aceptas nuestros <a href="#">terminos y condiciones</a> asi como nuestro <a href="#">aviso de privacidad</a>.
                    <div class="g-recaptcha" data-sitekey="6LdJrqkZAAAAAMRwGIRlX4NB3lfsBRNXhWk6yfFB"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="contact">Aceptar</button>
                </div>
                </div>
            </div>
            </div>
       </div>
       
       <footer class="footer-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 margin-bottom_30">
				   <img src="assets/img/logo20F.png" alt="#" class="logo"/>
				</div>
               <div class="col-xl-6 white_fonts">
                    <div class="row">
					<div class="col-md-12 white_fonts margin-bottom_30">
					   <h3>Contactanos</h3>
					</div>
                        <div class="col-md-4">
                            <div class="full icon">
                                <img src="assets/img/social1.png">
                            </div>
                            <div class="full white_fonts">
                                <p>Colina Azul,
                                    <br>Loma Colorada Segunda Sección,
                                    <br>53420 Naucalpan de Juárez,
                                    <br>México</p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="full icon">
                                <img src="assets/img/social2.png">
                            </div>
                            <div class="full white_fonts">
                                <p>optica20mas20@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="full icon">
                                <img src="assets/img/social3.png">
                            </div>
                            <div class="full white_fonts">
                                <p>5516282431</p>
                            </div>
                        </div>
						<div class="col-md-12">
						   <ul class="full social_icon margin-top_20">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
						</div>
                    </div>
                </div>
				
				 <div class="col-xl-6 white_fonts">
				    <div class="row">
					   <div class="col-md-6">
					     <div class="footer_blog footer_menu">
						    <h3>Menus</h3>
						    <ul> 
							  <li><a href="/">Inicio</a></li>
							  <li><a href="/about">Sobre Nosotros</a></li>
                              <li><a href="/service">Servicios</a></li>
                              <li><a href="#">Blog</a></li>
                              <li><a href="/contact">Contactanos</a></li>
							</ul>
						 </div>
					   </div>
					   <div class="col-md-6">
					     <div class="footer_blog full">
						     <h3>¿Quieres qué nosotros te contactemos?</h3>
							 <div class="newsletter_form">
                                 <form>
                                    <input type="text" placeholder="Tu nombre" name="#" id="name" required maxlength="60"/>
                                   <input type="text" placeholder="Tu número telefónico" id="tel" name="#" required maxlength="10"/>
                                   <input type="email" placeholder="Tu correo" name="#" id="correo" required maxlength="40"/>
                                   <select name="#" id="com" class="sele" required>
                                        <option value="volvo">Escoge el servicio...</option>
                                        <option value="saab">Lentes completos</option>
                                        <option value="opel">Lentes de contacto</option>
                                        <option value="audi">Reparación</option>
                                    </select>
								   <button type="button" data-toggle="modal" data-target="#exampleModal">Contactenme</button>
                                 </form>
								   
							 </div>
						 </div>
					   </div>
					</div>
				 </div>

            </div>
            
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">Optica 20 Más 20 Mejor Visión. © {{ getAnio }} Todos los derechos reservados.</p>
                    <ul class="bottom_menu">
                        <li>Página creada por Milton Ocampo.</li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <footer>   
        </footer>    
        {{#if script}}
        <script src="{{script}}"></script>
        {{/if}}
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="assets/js/app.js"></script>
    <!-- ALL PLUGINS -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.pogo-slider.min.js"></script>
    <script src="assets/js/slider-index.js"></script>
    <script src="assets/js/smoothscroll.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.js"></script>
    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/images-loded.min.js"></script>
    <script src="assets/js/custom.js"></script>
</html>