<header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="assets/img/logo20.png" alt="image" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" style="background:#f2184f;color:#fff;" href="/">Inicio</a></li>
                        <li><a class="nav-link" href="/about">Sobre Nosotros</a></li>
                        <li><a class="nav-link" href="/service">Servicios</a></li>
                        <li><a class="nav-link" href="#">Blog</a></li>
						<li><a class="nav-link" href="/contact">Contactanos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</header>