{{>header}}
{{>nav}}
    <!-- Start Banner -->
	  <div class="section inner_page_header">
	     <div class="container">
		    <div class="row">
              <div class="col-lg-12">
			     <div class="full">
				    <h3>Contactanos</h3>
				 </div>
			  </div>
			</div>
		 </div>
	  </div>
    <!-- end Banner -->
	
	<!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <div class="left">
						     <p class="section_count">01</p>
						   </div>
						   <div class="right">
						    <p class="small_tag">Contactanos</p>
                            <h2><span class="theme_color">How to provide</span> tools that help anyone give a voice to their ideas</h2>
                          </div>	
                        </div>
                    </div>
                </div>
            </div>	
			<div class="row margin-top_30">
				
				<div class="col-lg-7 col-sm-7 col-xs-12 margin-top_30">
				  <div class="contact-block">
					<form id="contactForm">
					  <div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control contact" id="name" name="name" placeholder="Tu Nombre" required data-error="Por favor ingresa tu nombre" maxlength="60">
								<div class="help-block with-errors"></div>
							</div>                                 
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" placeholder="Tu correo" id="email" class="form-control contact" name="name" required data-error="Por favor ingresa tu correo" maxlength="40">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" placeholder="Tu número telefónico" id="number" class="form-control contact" name="number" required data-error="Por favor ingresa tu número" maxlength="10">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group"> 
								<textarea class="form-control contact" id="message" placeholder="Tu Mensaje" rows="8" data-error="Escribe tu mensaje" required maxlength="455"></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="submit-button text-center">
								<button class="btn btn-common" id="submit" type="submit">Contactenme</button>
								<div id="msgSubmit" class="h3 text-center hidden"></div> 
								<div class="clearfix"></div> 
							</div>
						</div>
					  </div>            
					</form>
				  </div>
				</div>


				<div class="col-lg-5 col-sm-5 col-xs-12 margin-top_30">
					<div class="left-contact">
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-location-arrow" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Dirección</h4>
								<p>Loma Colorada Segunda Sección, 53420 Naucalpan de Juárez, México.</p>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Correo</h4>
								<a href="#">optica20mas20@gmail.com</a>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Número Telefónico</h4>
								<a href="#">5516282431</a>
							</div>
						</div>
					</div>
				</div>


			</div>
        </div>
    </div><br><br>
	<!-- end section -->
{{>footer}}