{{>header}}
{{>nav}}
<br><br><br><br><br><br><br>
<div align="center"><img src="assets/img/error-500.png" class="img-responsive" alt="Something is clearly wrong" align="center"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
{{>footer}}