{{>header}}
{{>nav}}
 <!-- Start Banner -->
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" style="background-image:url(assets/img/mBannerLentes.jpg);">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3>Confiables y<br>Profesionales</h3>
                                        <br>
                                        <h4><span class="theme_color">Lo que buscas en lentes</span></h4>
                                        <br>
                                        <p class="theme_color">Showcase your Profile to the world using online CV builder and Get Hired Faster</p>
                                        <a class="contact_bt" href="/about">Sobre Nosotros</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" style="background-image:url(assets/img/hBannerLentes.jpg);">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3>Confiables y<br>Profesionales</h3>
                                        <br>
                                        <h4><span class="theme_color">Lo que buscas en lentes</span></h4>
                                        <br>
                                        <p style="color: #ffff;">Showcase your Profile to the world using online CV builder and Get Hired Faster</p>
                                        <a class="contact_bt" href="/about">About us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .pogoSlider -->
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <div class="left">
						     <p class="section_count">00</p>
						   </div>
						   <div class="right">
						    <p class="small_tag">¿TE CUESTA VER?</p>
                            <h2><span class="theme_color">PODEMOS</span> AYUDARTE A QUE VEAS MEJOR</h2>
                            <p class="large">Mejora tu visión en 3 sencillos pasos</p>
						  </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
    <!-- section -->
    <div class="section dark_bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 text_align_center padding_0">
                    <div class="full">
                        <img class="img-responsive" src="assets/img/vBorrosa.jpg" alt="#" />
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 white_fonts layout_padding padding_left_right">
                    <h3 class="small_heading">EVERYTHING<br>YOU NEED IN ONE SOLUTION</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
					The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
					content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as 
					their default model..</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <div class="left">
						     <p class="section_count">01</p>
						   </div>
						   <div class="right">
						    <p class="small_tag">EXAMEN DE LA VISTA</p>
                            <h2><span class="theme_color">LA GRADUACIÓN</span> CORRECTA PARA QUE VEAS MEJOR</h2>
                            <p class="large">Mejora tu visión en 3 sencillos pasos</p>
						  </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
    <!-- section -->
    <div class="section dark_bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 white_fonts layout_padding padding_left_right">
                    <h3 class="small_heading">EVERYTHING<br>YOU NEED IN ONE SOLUTION</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
					The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
					content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as 
					their default model..</p>
                </div>
                <div class="col-lg-6 col-md-12 text_align_center padding_0">
                    <div class="full">
                        <img class="img-responsive" src="assets/img/eVista.jpg" alt="#" />
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <div class="left">
						     <p class="section_count">02</p>
						   </div>
						   <div class="right">
						    <p class="small_tag">ELIGE TU ARMAZÓN</p>
                            <h2><span class="theme_color">ESCOGE</span> LA ARMAZÓN QUE MÁS VAYA CON TU ESTILO</h2>
                            <p class="large">Mejora tu visión en 3 sencillos pasos</p>
						  </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
    <!-- section -->
    <div class="section dark_bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 text_align_center padding_0">
                    <div class="full">
                        <img class="img-responsive" src="assets/img/armazones.png" alt="#" />
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 white_fonts layout_padding padding_left_right">
                    <h3 class="small_heading">EVERYTHING<br>YOU NEED IN ONE SOLUTION</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
					The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
					content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as 
					their default model..</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <div class="left">
						     <p class="section_count">03</p>
						   </div>
						   <div class="right">
						    <p class="small_tag">RECOLLECCIÓN Y AJUSTE DE SUS LENTES</p>
                            <h2><span class="theme_color">LISTO</span> PARA VER EL MUNDO TAL Y COMO ES</h2>
                            <p class="large">Mejora tu visión en 3 sencillos pasos</p>
						  </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
    <!-- section -->
    <div class="section dark_bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 white_fonts layout_padding padding_left_right">
                    <h3 class="small_heading">EVERYTHING<br>YOU NEED IN ONE SOLUTION</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
					The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
					content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as 
					their default model..</p>
                </div>
                <div class="col-lg-6 col-md-12 text_align_center padding_0">
                    <div class="full">
                        <img class="img-responsive" src="assets/img/recoleccion.jpg" alt="#" />
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <!-- end section -->
{{>footer}}